* {
margin: 0;
font-family: Helvetica, sans-serif;
border: border-box;

}

.navbar{
    height: 50px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.navlogo{
    height: 35px;
    width: 70px;
}
.logo{
    background-image: url("logo.jpg");
    background-size: cover;
    height: 35px;
    width: 70px;
}

.border{
    border: 3px solid transparent;
}

.border:hover{
   border: 1.5px solid #ffffff; 
}

/**box2**/
.delivery{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 1px;
    display:flex;
}

.address{
    font-size: 0.90rem;
    margin-left: 2.5px;
}
 .add-icon{
    display: flex;
    

 }
 
.add-icon i {
    font-size : 15px;
}
/** box3 **/

 .nav-scarch{
    display: flex;
    justify-content: space-evenly;
    border-radius: 4px;
    background-color: aqua;
    width: 620px;
    height: 35px;
 }
 
 .nav-scarch:hover{
    border: 1px solid orange;
 }
 .all-bar{
background-color: #f3f3f3;
width: 50px;
text-align: center;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
border: none;
 }

 .scarch-input{
    width: 100%;
    font-size: 1rem;
    border: none;
    align-items: center;
 }

 .scaech-icon{
width: 45px;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.25rem;
background-color: #febd68;
border-bottom-right-radius: 4px;
border-top-right-radius: 4px;
 }

 /** b0x4 **/
 span{
    font-size: 0.7rem;
    font-weight: 700%;
 }

 .lists{
    font-size: 0.90rem;
    font-weight: 700%;
 }

 /** box5 **/
 .cart i {
    font-size : 25px;
 }
 
 
 /** box6 **/
.pannel-bar{
    display:flex;
    background-color:#222f3d;
    height:30px;
    color:white;
    align-items:center;
}

.pannel-bar-text  {
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

.today{
    margin-left:10px;
    border:none;
    display:flex;
    
}
.more{
    margin-left:10px;
    border:none;
}
.costomer{
    margin-left:10px;
}

.contact{
    margin-left:10px;
}
.dis{
    margin-left:10px;
}

.Deals-In-Gifts{
    margin-left:286px;
}

/** box6**/
.background-img{
background-image:url("background-img.jpg");
height: 300px;
width: 980px;
background-size: cover;
border:none;
justify-content:center;
display:flex;
align-items:flex-end;

}

/**msg**/
background-img{
    display:flex;
}

.msg{
    background-color:white;
    color: black;
    height:40px;
    width: 94%;
    font-size:0.85rem;
    align-items:center;
    display:flex;
    justify-content:center;
    margin-bottom: 35px;
}


.msg a {
    color:#007185;
}

/** item-box **/
.item-box{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    background-color: #b9d3b0;
    margin-top: 10px;
    
    
}

   .p1{
   border: 0px solid black;
   height: 300px;
   width: 21%;
   background-color: white;
   margin-top:15px;
   margin-bottom:15px;
   
}

.item-image{
    background-image: url("item1.jpg");
    height: 230px;
    background-size:cover;
    margin-left:1rem;
    margin-right:1rem;
    margin-bottom:1rem;
    margin-top:0.5rem;
}

.p1 a{
    margin-left:1rem;
    color: #007185;
}

.p1 h2{
    margin-left:1rem;
}


.item-image2{
    background-image: url("item2.jpg");
    height: 230px;
    background-size:cover;
    margin-left:1rem;
    margin-right:1rem;
    margin-bottom:1rem;
    margin-top:0.5rem;
}

.k{
    height: 230px;
    background-size:cover;
    margin-left:1rem;
    margin-right:1rem;
    margin-bottom:1rem;
    margin-top:0.5rem;
}

.item-image3{
    background-image: url("item3.jpg");
    height: 230px;
    background-size: cover;
    margin-left:1rem;
    margin-right:1rem;
    margin-bottom:1rem;
    margin-top:0.5rem;
}

.item-image4{
    background-image: url("item4.jpg");
    height: 230px;
    background-size: cover;
    margin-left:1rem;
    margin-right:1rem;
    margin-bottom:1rem;
    margin-top:0.5rem;
}


/**footer**/

.footer1{
    background-color: #37475a;
    height: 40px;
    color: white;
    font-size: 0.50rem;
    align-items:center;
    justify-content:center;
    display:flex;
}


.footer2{
    background-color: #222f3d;
    height: 300px;
    border-top: 0px solid white;
}


/** response **/
